* {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

main {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  margin: 100px auto 10px auto;
  font-size: large;
  font-weight: 400;
  color: rgb(34, 34, 34);
  margin: 50px auto 10px auto;
  
}

#mainBox {
  margin: 20px auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap:5px;
 

}

#countdown{
  font-size:30px;
  font-weight:bold;
}

.box {
  background-color: #b7c5cd;
  color: black;
  padding: 0.5rem;
  height: 10vw;
  border-color: white 1px solid;
  margin: 1px;
}

@media only screen and (min-width: 768px) {
  .box {
    height:10vw;
  }

  #mainBox {
    gap:8px;
  }

}

@media only screen and (min-width: 769px) {
  .box {
    height:6vw;
  }

}

.btn {
  width: 100px;
  margin-top: 10px;
}

.yellow{
  background-color:yellow;
}

/* .grey {
  filter: grayscale(.5)
} */