main {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  }

  * {
    font-family: 'Montserrat', sans-serif;
    color: black;
  }

  .heading {
    font-size: large;
    font-weight: 400;
    color: rgb(34, 34, 34);
    margin: 50px auto 10px auto;
    
  }

  #mainBox {
    margin: 20px auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
   

  }

  .box {

  background-color: #b7c5cd;
  color: black;
  padding: 1rem;
  height:4rem;
  border-color: white 1px solid;
  margin: 1px;
  

  }

  .btn {
    width: 100px;
    margin-top: 10px;
  }