* {
  font-family: 'Montserrat', sans-serif;
  color: black;
  overflow: hidden;

}

main {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;

}

.heading {
  margin: 100px auto 10px auto;
  font-size: large;
  font-weight: 400;
  color: rgb(34, 34, 34);
  margin: 50px auto 10px auto;
  
}

#mainBox {
  margin: 20px auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap:5px;
 

}

#countdown{
  font-size:30px;
  font-weight:bold;
}

.box {
  background-color: #b7c5cd;
  color: black;
  padding: 0.5rem;
  height: 10vw;
  border-color: white 1px solid;
  margin: 1px;
}

@media only screen and (min-width: 768px) {
  .box {
    height:10vw;
  }

  #mainBox {
    gap:8px;
  }

}

@media only screen and (min-width: 769px) {
  .box {
    height:6vw;
  }

}

.btn {
  width: 100px;
  margin-top: 10px;
}

.yellow{
  background-color:yellow;
}

/* .grey {
  filter: grayscale(.5)
} */
#initalStart{
  position: absolute;
  right:39%;
  top:50%;
  width:200px;
  /* background-color: transparent;
  border: transparent; */
  color:rgb(149, 149, 149);
  font-size: large;
  text-shadow:black;
  font-weight: 700;
}

#charaterContainer {
  width: 50%;
  height: 50%;
  position: relative;

}

#animate {
  width: 400px;
  height: 400px;
  position: absolute;
  background-image: url(/images/boo-text-empty.png);
  background-repeat: no-repeat;
  z-index: 100;
  right: -600px;
  bottom: 1px;
}

.hidden {
  display:none;
}

#talking {
  background-image: url(/images/boo-bubble.png);
}

#textBubble {
  /* background-color: black; */
  position: absolute;
  right: 52%;
  top:24%;
  width:120px;
  height: 60px;
  z-index: 101;
  font-weight: 600;


}

#gameOver {
  position: absolute;
  top: 40%;
  right: 17%;
  font-size: 90px;
  font-weight: 500;
}